<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:26</td>   <td>0</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:Test.NewTest@11438d26]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:26</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:Test.NewTest@11438d26]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:26</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:Test.NewTest@11438d26]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:26</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:Test.NewTest@11438d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:26</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:Test.NewTest@11438d26]">f</td> 
  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:38</td>   <td>11732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:Test.NewTest@11438d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:38</td>   <td>11735</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:Test.NewTest@11438d26]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:38</td>   <td>11740</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:Test.NewTest@11438d26]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/05/09 21:23:38</td>   <td>11766</td> <td title="&lt;&lt;NewTest.afterSuite()[pri:0, instance:Test.NewTest@11438d26]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
</table>
